@page "/"

<h3>Добро пожаловать в <b>Deadlocks & Dragons</b> 🐉</h3>
<p>
    Это обучающая игра по конкурентному программированию.
    Погрузись в мир ролевых заданий, в которых тебе предстоит избежать дедлоков и обойти гонки.
</p>

<a href="/tasks" class="btn btn-primary">🔎 Перейти к заданиям</a>
