@page "/tasks"
<h3>Список заданий</h3>
<ul>
    <li><NavLink href="/task/1">Задание 1</NavLink></li>
    <li><NavLink href="/task/2">Задание 2</NavLink></li>
    <li><NavLink href="/task/3">Задание 3</NavLink></li>
</ul>
