@page "/victory"

<h2 class="text-center mt-5">🏆 Поздравляем!</h2>

<p cslass="text-center mt-3">
    Ты успешно провёл партии через все ловушки и загадки мира Deadlocks & Dragons!
</p>

<div class="text-center mt-4">
    <a class="btn btn-success" href="/tasks">🔄 Попробовать ещё раз</a>
</div>
