<nav class="menu-container">
    <div class="menu-box">
        <NavLink href="/" Match="NavLinkMatch.All" class="menu-button">🏠 Главная</NavLink>
        <NavLink href="/tasks" class="menu-button">🧩 Задания</NavLink>
        <NavLink href="/help" class="menu-button">📖 Справка</NavLink>
        <NavLink href="/leaderboard" class="menu-button">🏆 Рейтинг</NavLink>
    </div>
</nav>
