<nav class="menu-container">
    <div class="menu-header">Deadlocks & Dragons</div>

    <NavLink class="menu-link" href="/" Match="NavLinkMatch.All">🏰 Главная</NavLink>
    <NavLink class="menu-link" href="/tasks">📜 Задания</NavLink>
    <NavLink class="menu-link" href="/help">📖 Справка</NavLink>
    <NavLink class="menu-link" href="/leaderboard">🏆 Рейтинг</NavLink>
</nav>
